<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.live.com" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="azulli" connectionString="Data Source=PCTSA-00826-PC\SQLEXPRESS;Initial Catalog=Azulli;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
    <add name="azulli" connectionString="workstation id=PORTALAZULI.mssql.somee.com;packet size=4096;user id=edmls34_SQLLogin_1;pwd=25pdqsl4ih;data source=PORTALAZULI.mssql.somee.com;persist security info=False;initial catalog=PORTALAZULI"/>
  </connectionStrings>
  <appSettings>
    <add key="GoogleAnalyticsId" value="UA-34093557-1"/>
    <add key="emailRemetente" value="edmls2008@hotmail.com"/>
    <add key="emailErrorSystem" value="edmls@ig.com.br"/>
    <add key="pwd" value="82111081"/>
    <add key="balanceteFolder" value="~/ServerFile/Balancete/"/>
    <add key="ArquivosCondominio" value="~/ServerFile/ArquivosCondominio/"/>
    <add key="ArquivosCondominioDownload" value="~\ServerFile\ArquivosCondominio\"/>
    <add key="EvidenciaMoradorOC" value="~/ServerFile/EvidenciaMoradorOC/"/>
    <add key="classificado" value="~/ServerFile/Classificados/"/>
    <add key="uploadFotoWebCam" value="~/ServerFile/FotosWebCam/"/>
    <add key="ReportsPath" value="C:\Desenvolvimento\AzuliProd\Azuli.Web.Portal\Azuli.Crystal.Relatorios\"/>
    <add key="userIdSomee" value="edmls34_SQLLogin_1"/>
    <add key="pwdSomee" value="25pdqsl4ih"/>
    <add key="azuliServerName" value="PORTALAZULI.mssql.somee.com"/>
    <add key="azuliDatabase" value="PORTALAZULI"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <pages styleSheetTheme="DataWebControls" enableViewStateMac="false"/>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="LoginAzulli.aspx"/>
        <!-- <add value="ErrorPage.html" /> -->
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="true" checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
</configuration>