/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 777px;
    height: 32px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.pageAdmin
{
    width: 970px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}



.page
{
    width: 960px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 960px;
    top: 0px;
    left: 0px;
    height: 54px;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    height: 55px;
}


.headerAdmin
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 959px;
    top: -1px;
    left: -2px;
    height: 102px;
}

.headerAdmin h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 40px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    height: 63px;
    width: 919px;
}

.mainAdmin
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height:420px;
    height: 82px;
    width: 930px;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footerAdmin
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    height: auto;
}
.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
   
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#4884CD;
    width:auto;
    height: 0;
    position:relative;
    top: -25px;
    vertical-align:middle;
    right:-160px;
}

div.hideSkiplinkAdmin
{
    background-color:#4884CD;
    width:auto;
    height: 0;
    position:relative;
    top: -12px;
    vertical-align:middle;
    right:-160px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu a, div.menu a:visited
{
    background-color: #00367E;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}

fieldsetReservas
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    width: 318px;
}

input.textEntry 
{
    width: 40px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 110px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 71%;
    height: 290px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
    height: 105px;
    width: 968px;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.titleAdmin
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    
       display: inherit;
    text-align: left;
    padding: 1px;
    color: #4884CD;
    height: auto;
    width: 310px;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}


.loginDisplayAdmin
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    height: 1px;
    width: 934px;
}

.loginDisplayAdmin a:link
{
    color: white;
}

.loginDisplayAdmin a:visited
{
    color: white;
}

.loginDisplayAdmin a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

input.botao, .btGeral {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #4B6C9E;
	text-align: center;
	border: 1px solid #4B6C9E;
	cursor: pointer;
    height: 19px;
}

.MasterMenu
{
	background-color: #ADD8E6;
	border-top: Solid 3px #F5F5F5;
	padding: 3px;
	font-family: Verdana;
	font-size: 12px;
	color: Black;
}

.MasterMenuHover
{
	color: White;
}

/* Data Web Control Styles */

.DataWebControlStyle
{
    font-size: 100%;
}

.HeaderStyle
{
    background-color:#ADD8E6;
    color: white;
    font-weight: bold;
}

.HeaderStyle a, .HeaderStyle a:visited
{
    color: white;
}

.FooterStyle
{
    background-color: #ADD8E6;
    color: blue;
    text-align: center;
}

.AlternatingRowStyle
{
    background-color: #ADD8E6;
}

.RowStyle
{
}

.SelectedRowStyle
{
    background-color: #FFFFFF;
}

.PagerRowStyle
{
    background-color: #ddd;
    text-align: right;
}

.SortHeaderRowStyle
{
    background-color: #c00;
    text-align: left;
    font-weight: bold;
    color: White;
}

.GridView
{
	background-color: White;
	border: outset 2px;
	font-family: Verdana;
	font-size: 12px;
	color: Black;
}
.GridView td
{
	padding: 3px;
	color: Black;
}
.GridView td a
{
	color: Black;
}
.GridView th
{
	background-color: #4884CD;
	padding: 3px;
}
.GridView th a
{
	font-weight: bold;
	color: Black;
}
.GridViewEdit
{
	background-color: #999999;
}
.GridViewPager td
{
	font-family: Verdana;
	font-size: 12px;
	color: Black;
}

